

* {
    margin: 0;
    padding: 0;
    font-family: Muli;
    text-decoration-line: none;
    list-style-type: none;
}

/* Desktop styling */

@media only screen and (min-width: 607px) {
    
/* Header section */

    header .mobile {
        display: none;
    }

    header nav {
        display: flex;
         align-items: center;
         margin-right: 16px;
     }



    header .desktop {
        display: flex;
        justify-content: space-between;
        height: 64px;
    }

    header .desktop .logo {
        display: flex;
        align-items: center;
        font-size: 8px;
        margin-left: 24px;
    }

    header .desktop h1 .s1  {
        color:#4A4A4A;
        font-weight: bold;
    }

    header .desktop h1 .s2  {
        font-weight: 400;
        color: #9B9B9B;
    }


    header nav ul {
        display: flex;
    }

    header nav ul li {
        padding: 8px;
        color: #4A4A4A;
    }

    header nav ul li a {
        color: inherit;
    }

    /* Hero section */

    .hero-container {
        display: flex;
        background: lightgrey;
    }

    .hero-image-container {
        display: flex;
        padding: 32px 24px;
    
    }

    .hero-image {
        width: 100%;
    }

    .hero-container .hero-content-container {
        display: flex;
        flex-direction: column;
        align-self: center;

    }

    .hero-content-container h2 {
        font-size: 50px;
    }

    .hero-content-container p {
        font-size: 20px;
    }

    .hero-content-container h2 p {
        font-weight: 700;
        color: #4A4A4A;
    }

    .hero-content-container .button {
        font-size: 15px;
        background-color: #4A4A4A;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 400px;
        color: #FEFEFE;
    }

    /* Practice section */

    .practice-container-mobile {
        display: none;
    }

    .practice-container {
        margin-bottom: 32px;
    }
    .image-text-container {
        width: 60%;    
    }

    .practice-container {
        display: flex;
    }

    .practice-container .practice-image-container {
        padding: 32px 24px;
    }

    .practice-image {
        width: 100%;
    }

    .practice-container .practice-content-container {
        padding-left: 24px;
    }


    .practice-container .practice-content-container h2 {
        margin-bottom: 24px;
    }

    .college-info-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        border-left: 1px solid #E0E2E2;
        position: relative;
        top: 16px;
        
    }

    .college-info-container a {
        color: #4E92E2;
    }

    .college-info-container p {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .orientation-container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E0E2E2;
    }


    .orientation-image  {
        padding: 16px 16px;
        width: 35%;
        margin: auto;
    }

    .orientation-picture {
        width: 100%;
    }

    .orientation-content {
        width: 65%;
        
    }

    .campus-container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E0E2E2;
    }

    .campus-image {
        padding: 16px 16px;
        width: 35%;
        margin: auto;
    }

    .campus-picture {
        width: 100%;
    }


    .campus-content {
        width: 65%;
        
    }

    .guest-lecture-container {
        display: flex;
        align-items: center;
        background-color: #D8D8D8;
        border-bottom: 1px solid #E0E2E2;
    }

    .guest-lecture-image {
        padding: 16px 16px;
        width: 35%;
        margin: auto;
    }

    .guest-lecture-content {
        width: 65%; 
        
    }

    .guest-picture {
        width: 100%;
    }

    /* Start Learning Section */

    .start-learning-container-mobile {
        display: none;
    }

    .start-learning-container {
        padding: 32px 72px;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        background-color: #EAEBEC;
    }

    .start-learning-textbox {
        display: flex;
        margin-bottom: 32px;
    
    }

    .courses-container {
        display: flex;
        justify-content: center;
    }

    .software-eng-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-right: 32px;

    }

    .software-eng-image {
        height: auto;
    }

    .course-software-picture {
        width: 100%;
    }

    .software-eng-text {
        background: white;
        padding: 16px 16px;
        margin-top: -4px;
    }


    .pcourses {
        padding: 8px 0px;
    }

    .computer-art-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-right: 32px;
    }

    .computer-art-image {
        height: auto;
    }

    .computer-art-picture {
        width: 100%;
    }

    .computer-art-text {
        background: white;
        padding: 16px 16px;
        margin-top: -4px;
        height: 100%;
    }

    .computer-text {
        font-size: 13.5px;
    }

    .design-container {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .design-image {
        height: auto;
    }

    .design-picture {
        width: 100%;
    }

    .design-text {
        background: white;
        padding: 16px 16px;
        margin-top: -4px;
    }

    .courses-container-two {
        display: flex;
        margin-top: 32px;
        justify-content: center;
    }

    .data-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-right: 32px;
    }

    .data-image {
        height: auto;
    }

    .data-picture {
        width: 100%;
    }

    .data-text {
        background: white;
        padding: 16px 16px;
        margin-top: -4px;
    }

    .business-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-right: 32px;
    }

    .business-image {
        height: auto;
    }

    .business-picture {
        width: 100%;
    }

    .business-text {
        background: white;
        padding: 16px 16px;
        margin-top: -4px;
    }

    .marketing-container {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .marketing-image {
        height: auto;
    }

    .marketing-picture {
        width: 100%;
    }

    .marketing-text {
        background: white;
        padding: 16px 16px;
        margin-top: -4px;
    }

    /* Thesis Exhibition Section */

    .thesis-exhibit-container-mobile {
        display: none;
    } 

    .thesis-exhibit-container {
        padding: 32px 0px;
        display: flex;
        flex-direction: column;
        background-color: #F3F5F5;
    }

    .thesis-exhibit-text {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }

    .video-text-container {
        padding: 0px 24px;
        width: 60%;
    }

    .thesis-video {
        width: 100%;;
    }

    .thesis-content-container {
        margin-top: 24px;
    }

    .thesis-quote {
        margin-top: 8px;;
    }

    .thesis-moreinfo-big-container {
        display: flex;
    }

    .thesis-moreinfo-container {
        display: flex;
        flex-direction: column;
    }

    .thesis-moreinfo-container {
        width: 40%;
        position: relative;
    }

    .fisma-container {
        display: flex;
        align-items: center;
        background-color: #D8D8D8;
    }

    .fisma-image {
        width: 35%;
        height: auto;
        padding: 16px 16px;
    }

    .fisma-picture {
        width: 100%;
    }

    .fisma-content {
        width: 65%;
        margin-right: 16px;
    }

    .now-then-container {
        display: flex;
        align-items: center;
    }

    .now-then-image {
        width: 35%;
        height: auto;
        padding: 16px 16px;
    }

    .now-then-picture {
        width: 100%;
    }

    .now-then-content {
        width: 65%;
        margin-right: 16px;
    }

    .thesis-t {
        margin-bottom: 8px;
    }

    /* Footer Section */

        .footer-mobile {
            display: none;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            padding: 16px 24px;
        }

    .footer nav ul {
            display: flex;
    }

    .footer nav ul li {
            padding: 10px;
    }
}

/* Mobile styling */

@media only screen and (max-width: 607px) {
    header .desktop {
        display: none;
    }

    
    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    header .mobile {
        height: 64px;
        padding: 15px;
    }

    /* Hero section */

    .hero-container {
        background: #DBDBDB;
    }

    .hero-image-container {
        display: flex;
    }

    .hero-image {
        width: 100%;
    }

    .hero-container .hero-content-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 32px 16px;
        align-items: center;

    }

    .hero-content-container h2 {
        font-size: 50px;
    }
    
    .hero-content-container p {
        font-size: 30px;
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .hero-content-container h2 p {
        font-weight: 700;
        color: #4A4A4A;
    }

    .hero-content-container .button {
        font-size: 25px;
        background-color: #9B9B9B;
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 400px;
        color: #FEFEFE;
    }
   
    /* Practice section */

    .practice-container {
        display: none;
    }

    .college-info-container-mobile {
        padding: 16px 16px 32px 16px;
        background: #F3F5F5;
    }

    .college-info-container-mobile h4 {
        font-size: 30px;
    }

    .college-info-container-mobile a {
        font-size: 20px;
    }

    .orientation-content-mobile {
        padding-left: 16px;
        padding-top: 20px;
    }

    .campus-container-mobile {
        padding: 64px 0px;
    }

    .campus-content-mobile {
        padding-left: 16px;
        padding-top: 20px;
    }

    .guest-lecture-content-mobile {
        padding-left: 16px;
        padding-top: 20px;
    }

    .special-p {
        padding: 8px 0px;
        font-size: 20px;
    }

    /* Start Learning Section */

    .start-learning-container {
        display: none;
    }

    .start-learning-container-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background: #F6F4F5;
        padding: 32px 0px;
    }

    .start-learning-textbox-mobile {
        display: flex;
        padding-bottom: 16px;
        
    }

    .start-learning-textbox-mobile h2 {
        font-size: 30px;
    }

    .courses-container-mobile h4 {
        font-size: 20;
    }

    .software-engin-mobile {
        background: #D8D8D8;
        padding: 16px 16px 24px 16px;
        margin-bottom: 8px;
    }

    .computer-art-mobile {
        background: #D8D8D8;
        padding: 16px 16px 24px 16px;
        margin-bottom: 8px;
    }

    .design-mobile {
        background: #D8D8D8;
        padding: 16px 16px 24px 16px;
        margin-bottom: 8px;
    }

    .data-mobile {
        background: #D8D8D8;
        padding: 16px 16px 24px 16px;
        margin-bottom: 8px;
    }

    .business-mobile {
        background: #D8D8D8;
        padding: 16px 16px 24px 16px;
        margin-bottom: 8px;
    }

    .marketing-mobile {
        background: #D8D8D8;
        padding: 16px 16px 24px 16px;
    }

     /* Thesis Exhibit Section */

    .thesis-exhibit-container {
        display: none;
    }

    .thesis-exhibit-container-mobile {
        padding-top: 32px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        background-color: #F3F5F5;
    }

    .thesis-exhibit-text-mobile {
        display: flex;
        justify-content: center;
        padding-bottom: 16px;
    }

    .video-container-mobile {

    }

    .thesis-video-mobile {
        width: 100%;
    }

    /* Footer Section */

    .footer {
        display: none;
    }

    .footer-mobile {
        padding: 16px 0;
        background: #F3F5F5;
    }

    .copyright-mobile {
        padding-left: 30px;
    }
}

