* {
    margin: 0;
    padding: 0;
    font-family: Muli;
    text-decoration-line: none;
    list-style-type: none;
}

/* Header section */

header .desktop {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

header .desktop .logo {
    display: flex;
    align-items: center;
    font-size: 8px;
    margin-left: 24px;
}

header .desktop h1 .s1  {
    color:#4A4A4A;
    font-weight: bold;
}

header .desktop h1 .s2  {
    font-weight: 400;
    color: #9B9B9B;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 8px;
    color: #4A4A4A;
}

header nav ul li a {
    color: inherit;
}

/* Hero section */

.hero-container {
    display: flex;
    background: lightgrey;
}

.hero-image-container {
    display: flex;
    padding: 32px 24px;
   
}

.hero-image {
    width: 100%;
}

.hero-container .hero-content-container {
    display: flex;
    flex-direction: column;
    align-self: center;

}

.hero-content-container h2 {
    font-size: 50px;
}

.hero-content-container p {
    font-size: 20px;
}

.hero-content-container h2 p {
    font-weight: 700;
    color: #4A4A4A;
}

.hero-content-container .button {
    font-size: 15px;
    background-color: #4A4A4A;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 400px;
    color: #FEFEFE;
}

/* Practice section */

.practice-container {
    margin-bottom: 32px;
}
.image-text-container {
    width: 60%;    
}

.practice-container {
    display: flex;
}

.practice-container .practice-image-container {
    padding: 32px 24px;
}

.practice-image {
    width: 100%;
}

.practice-container .practice-content-container {
    padding-left: 24px;
}


.practice-container .practice-content-container h2 {
    margin-bottom: 24px;
}




.college-info-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-left: 1px solid #E0E2E2;
    position: relative;
    top: 16px;
    
}

.college-info-container a {
    color: #4E92E2;
}

.college-info-container p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.orientation-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E2E2;
}


.orientation-image  {
    padding: 16px 16px;
    width: 35%;
    margin: auto;
}

.orientation-picture {
    width: 100%;
}

.orientation-content {
    width: 65%;
    
}

.campus-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E2E2;
}

.campus-image {
    padding: 16px 16px;
    width: 35%;
    margin: auto;
}

.campus-picture {
    width: 100%;
}


.campus-content {
    width: 65%;
    
}

.guest-lecture-container {
    display: flex;
    align-items: center;
    background-color: #D8D8D8;
    border-bottom: 1px solid #E0E2E2;
}

.guest-lecture-image {
    padding: 16px 16px;
    width: 35%;
    margin: auto;
}

.guest-lecture-content {
    width: 65%; 
    
}

.guest-picture {
    width: 100%;
}

/* Start Learning Section */

.start-learning-container {
    padding: 32px 72px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #EAEBEC;
}

.start-learning-textbox {
    display: flex;
    margin-bottom: 32px;
   
}

.courses-container {
    display: flex;
}

.software-eng-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 32px;

}

.software-eng-image {
    height: auto;
}

.course-software-picture {
    width: 100%;
}

.software-eng-text {
    background: white;
    padding: 16px 16px;
    margin-top: -4px;
}


.pcourses {
    padding: 8px 0px;
}

.computer-art-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 32px;
}

.computer-art-image {
    height: auto;
}

.computer-art-picture {
    width: 100%;
}

.computer-art-text {
    background: white;
    padding: 16px 16px;
    margin-top: -4px;
}

.design-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 32px;
}

.design-image {
    height: auto;
}

.design-picture {
    width: 100%;
}

.design-text {
    background: white;
    padding: 16px 16px;
    margin-top: -4px;
}

.courses-container-two {

}

.data-container {

}

.data-image {

}

.data-picture {

}

.data-text {

}

.business-container {

}

.business-image {

}

.business-picture {

}

.business-text {

}

.marketing-container {

}

.marketing-image {

}

.marketing-picture {

}

.marketing-text {

}

/* Mobile styling */
header .mobile {
    display: none;
}
